# --- Logging ---
LOGGER_NAME=CENTRAL_RAD_HC
LOG_LEVEL=INFO
LOG_FILE=/var/log/healthcheck_daemon.log
LOG_MAX_BYTES=     # 10MB (default if not set)
LOG_BACKUP_COUNT=        # 5 backups (default if not set)
ENABLE_GCP_LOGGING=false

# GCP/Backend Settings
GCP_PROJECT=radius-core-dev-18c6
LOCAL_GCP_REGION=us-central1
REMOTE_GCP_REGION=us-east4
GOOGLE_APPLICATION_CREDENTIALS=key.json

# Local BGP peer/router
BGP_PEER_PROJECT=radius-network-2e39
LOCAL_BGP_REGION=us-central1
LOCAL_BGP_ROUTER=gc1-dev-ac-pi-col-ord-cr
# Remote BGP peer/router
REMOTE_BGP_REGION=us-east4
REMOTE_BGP_ROUTER=ge4-ac-dev-pi-col-ash-cr

# Set desired priorities for health/unhealth
CLOUDFLARE_PRIMARY_PRIORITY=100
CLOUDFLARE_SECONDARY_PRIORITY=200
DESCRIPTION_SUBSTRING=CF-DEV-C # Only update routes where the description contains this substring

# Prefix to advertise/withdraw via BGP in remote GCP
PRIMARY_PREFIX=10.137.245.0/25
SECONDARY_PREFIX=10.137.19.0/25

# Cloudflare Settings
CLOUDFLARE_ACCOUNT_ID=bde69d6cd640966c7e9fc74fa72e3c44
CLOUDFLARE_API_TOKEN=

# Behavior
CHECK_INTERVAL_SECONDS=5
MAX_RETRIES=3
INITIAL_BACKOFF_SECONDS=1
MAX_BACKOFF_SECONDS=60
CIRCUIT_BREAKER_THRESHOLD=5
CIRCUIT_BREAKER_TIMEOUT_SECONDS=300



